<header class="myheader">
  <h1>
    <a style="all: unset" href="/all-products">All Products</a>
  </h1>

  <nav>
    <ul class="parent">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/add-new-product"> Add new product </a></li>
    </ul>
  </nav>
</header>